body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  padding: 0.5em;
  border: 5px solid #ccc;
}

.target {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #663398;
  padding: 1em;
  color: white;
}
.container {
  position: relative;
}

.target {
  position: absolute;
  top: 5px;
  right: 5px;

  /* Bonus */
  z-index: -1;
}
